<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>Registro de Clientes nuevos</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="document" class="p-sr-only">Documento</label>
                    <input [(ngModel)]="document1" pInputText id="document1" type="text" placeholder="Documento" />
                </div>
                <div class="field">
                    <label htmlFor="firstname1" class="p-sr-only">Nombre</label>
                    <input [(ngModel)]="firstname1" pInputText id="firstname1" type="text" placeholder="Nombre" />
                </div>
                <div class="field">
                    <label htmlFor="lastname1" class="p-sr-only">Apellido</label>
                    <input [(ngModel)]="lastname1" pInputText id="lastname1" type="text" placeholder="Apellido" />
                </div>
                <div class="field">
                    <label htmlFor="email" class="p-sr-only">Correo</label>
                    <input [(ngModel)]="email" pInputText id="email" type="text" placeholder="Correo" />
                </div>
                <div class="field">
                    <label htmlFor="telefono" class="p-sr-only">Telefono</label>
                    <input [(ngModel)]="phone" pInputText id="telefono" type="text" placeholder="Telefono" />
                </div>
                <div class="field">
                    <label htmlFor="address" class="p-sr-only">Direccion</label>
                    <input [(ngModel)]="address" pInputText id="address" type="text" placeholder="Direccion" />
                </div>
                <button type="button" pButton label="Registrar" (click)="uploadClient()"></button>
            </div>
        </div>
    </div>
</div>